---
title: GoPay identification service
locale: en
toc_footers:
  - <a href='http://www.gopay.com'>GoPay website</a>
  - <a href='http://help.gopay.com/en'>Help center</a>
  - <a href="https://doc.gopay.cz/identifikace/"><img src = "../images/CSsmall.png"></a> <a href="https://doc.gopay.com/identification/"><img src = "../images/ENsmall.png"></a>
search: true
---

# Introduction

<%= partial "includes/languages" %>    

GoPay 3G REST API. 

  
All comunication with API is encoded in UTF-8.  
 