---
title: GoPay identifikační služba
locale: cs
toc_footers:
  - <a href='http://www.gopay.com'>Oficiální web GoPay</a>
  - <a href='http://help.gopay.com/cs'>Centrum nápovědy</a>
  - <a href="https://doc.gopay.cz/identifikace/"><img src = "../images/CSsmall.png"></a> <a href="https://doc.gopay.com/identification/"><img src = "../images/ENsmall.png"></a>
search: true
---

# Úvod

<%= partial "includes/languages" %>

GoPay 3G API.
  
Pro veškerou příchozí i odchozí komunikaci s API je použito kódování UTF-8.  
