# Identifikační služba

V rámci identifikační služby nabízí GoPay provedení identifikace uživatele bez nutnosti jeho fyzické přítomnosti.
Získané údaje GoPay ukládá na zabezpečené úložiště a umožňuje k nim permanentní přístup prostřednictvím API v datové formě nebo ve formátu .PDF ve formě opisu identifikace.
Zároveň s tím GoPay uložená data monitoruje a podporuje jejich aktuální platnost.

Autentizační služba: ```auth.beta.dev.gopay.cz/api```.

Identifikační služba: ```client.beta.dev.gopay.cz/api```.

Identifikační služba je komplexní zpracování a porovnání všech vstupních informací a materiálů poskytnutých uživatelem, jako jsou porovnání fotografie na dokladu s fotografiemi na druhém dokladu či “facematch” (jedná se o živě pořízenou fotografii), dále validace majitele bankovního účtu či disponenta na úrovni manžel či manželka s majitelem dokladu, porovnání ručně zadané adresy s IP a GEO lokalizací a mnoho dalších interních křížových kontrol, vypracovaných konkrétně pro tuto službu s cílem zvýšení kvality výstupních dat výrazně nad rámec legislativních požadavků.


## Stav identifikace

Umožňuje číst identifikační údaje Klienta, případně aktuální stav průběhu identifikace.

> Request

<%= partial "includes/examples", :locals => { :example => data.example.status.request } %>

<h5>Request</h5>

```GET /client-profile/me/identification-status```

<h5>Hlavička požadavku</h5>

Název parametru | Popis parametru | Povinný
----------------|-----------------|--------
Authorization|Bearer [```<access-token>```](#ziskani)|ANO

> Response.

<%= partial "includes/examples", :locals => { :example => data.example.status.response } %>

<h5>Response</h5>

Název parametru|Popis parametru| Datový typ
---------------|---------------|-----------
clientProfileId|Identifikátor klientského profilu|integer
[state](#stav-identifikace)|Stav identifikace klientského profilu|string
[reasons](#reasons)|Důvody neprovedení/průběhu identifikace Klienta|string
dateStarted|Den počátku identifikačního procesu Klienta|string, yyyy-mm-dd
dateLastChange|Datum poslední změny v rámci procesu identifikace|string, yyyy-mm-dd
[subjectType](#subjectType)|Právní povaha identifikovaného subjektu|string
[subjectData](#subjectData)|Objekt obsahující dostupná data o Klientovi|objekt
[identificationData](#identificationData)|Veškeré informace získané procesem identifikace|objekt


## Doplnění údajů

Pokud Odběratel identity požaduje doplnit/změnit identifikační údaje, potom přesměrovává Klienta na Identifikační službu GoPay pro doplnění údajů.



## PDF opis

Umožňuje vygenrovat PDF opis identifikovaného Klienta.

Parametr `CLIENT-PROFILE-ID` je získán z odpovědi dotazu na [stav identifikace](#stav-identifikace).


> Request

<%= partial "includes/examples", :locals => { :example => data.example.pdf.request } %>

<h5>Request</h5>

```GET /client-profile/{CLIENT-PROFILE-ID}/identification-pdf```

<h5>Hlavička požadavku</h5>

Název parametru | Popis parametru | Povinný
----------------|-----------------|--------
Authorization|Bearer [```<access-token>```](#ziskani)|ANO

<h5>Response</h5>

Odpověď typu ```application/pdf```.